<div class="about_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h1 class="about_taital">NHÀ HÀNG CỦA CHÚNG TÔI</h1>
             <div class="bulit_icon"><img src="assets/images/bulit-icon.png"></div>
          </div>
       </div>
       <div class="about_section_2 layout_padding">
          <div class=""><img src="assets/images/about-img.png" class="about_img"></div>
          <div class=""><br>
             <h1 class="about_taital">Sushi & Nước Uống Kèm</h1>
             <p class=" about_text">Chúng tôi tự hào là địa chỉ lý tưởng cho những tín đồ sushi và người yêu thích nước uống đặc biệt.
                                     Nhà hàng chúng tôi tự hào mang lại những trải nghiệm ẩm thực độc đáo, từ những món sushi truyền thống cho đến các sáng tạo mới lạ, đảm bảo sẽ làm hài lòng mọi thực khách.
                                     Ngoài ra, chúng tôi còn cung cấp một loạt các loại nước uống độc đáo và phong phú, từ trà xanh truyền thống cho đến cocktail tinh tế, để tạo điều kiện lý tưởng cho bữa ăn của bạn.</p>
          </div>
       </div>
    </div>
 </div>
 <!-- about section end -->
<!-- client section start -->
<div class="client_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h1 class="about_taital">CÁC CHUYÊN GIA ẨM THỰC ĐÃ NÓI GÌ</h1>
             <div class="bulit_icon"><img src="assets/images/bulit-icon.png"></div>
          </div>
       </div>
       <div class="client_section_2">
          <div class="client_taital_main">
             <div class="client_left">
                <div class="client_img"><img style="height: 180px;" src="assets/images/client-img1.png"></div>
             </div>
             <div class="client_right">
                <h3 class="moark_text">Joy Moark</h3>
                <p class="client_text">"This restaurant is a fantastic destination for sushi lovers. I've tried various sushi options here, and I'm consistently impressed. The sushi is crafted with precision, and the quality of ingredients is top-notch."</p>
             </div>
          </div>
          <div class="client_taital_main">
             <div class="client_left">
                <div class="client_img"><img style="height: 180px;" src="assets/images/client-img2.png"></div>
             </div>
             <div class="client_right">
                <h3 class="moark_text">Mihacal</h3>
                <p class="client_text">"In addition to the outstanding sushi options, this restaurant boasts a talented team of mixologists. I've sampled several cocktails here, and each one has been delightful. Every cocktail is carefully crafted and offers a unique flavor profile."</p>
             </div>
          </div>
          <div class="client_taital_main">
             <div class="client_left">
                <div class="client_img"><img style="height: 180px;" src="assets/images/client-img3.png"></div>
             </div>
             <div class="client_right">
                <h3 class="moark_text">Uliya den</h3>
                <p class="client_text">"This restaurant offers an extensive and diverse selection of accompanying beverages. I particularly enjoy the refreshing green tea with its soothing and invigorating flavor. All beverages are served chilled and of excellent quality."</p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- client section end -->
 